---
layout: page
title: Airspace
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">AUTOSAIL MDH</h1>
          <p class="animated fadeInUp">AutoSail is a student project where five M.Sc.Eng students will develop an autonomous sailing boat with the goal to compete in WRSC 2021.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Who are we?</h2>
            <p>We are five Master of Science in Engineering students from Mälardalens University in Västerås, Sweden. We are working on our final project of our last year at the Robotics program. An autonomous sailing boat will be developed and the goal is to compete in WRSC(World Robotic Sailing Championships) in 2021.</p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/team.JPG" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>EVERYTHING IS OPENSOURCE</h2>
      <p>One rule for the WRSC is that everything must be opensource, therefore we are using GitHub...</p>
      <a href="https://github.com/AutoSail-MDH" class="btn btn-view-works">GitHub</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>What we use</h2>
        <p>Some "components/softwares/hardwares" used in this project.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="logo-python"></ion-icon>
          <h4><a href="https://www.python.org/">Python</a></h4>
          <p>A friendly and easy to use programming language that speeds up the development time and effectively integrate the system</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="apps"></ion-icon>
          <h4><a href="https://www.ros.org/">ROS</a></h4>
          <p>A middleware with tools and libraries to help the development of a robot application</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="logo-github"></ion-icon>
          <h4><a href="https://github.com/">Github</a></h4>
          <p>GitHub is a hosting platform for developers integrated with the version control system <a href="https://git-scm.com/">Git</a>. It has tools such as reviewing code, manage projects, and much more!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="logo-tux"></ion-icon>
          <h4>Linux</h4>
          <p>A lightweight open-source operating system which are commonly used in single-board computers</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="earth"></ion-icon>
          <h4>GNSS</h4>
          <p>Global Navigation Satellite Systems (GNSS) is a name for all the satellite systems, GPS, GLONASS, Galileo,
            and BeiDou. It is used to determine the position of the vessel by using signal from satellites</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="compass"></ion-icon>
          <h4>Wind vane</h4>
          <p>A wind vane is a sensor that reads the direction of the wind. This is necessary to properly adjust the sails of the vessel</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="eye"></ion-icon>
          <h4>Vision</h4>
          <p>Vision capabilities are implemented to gather information about the environment, to create obstacle avoidance, and to read a AprilTag</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="sunny"></ion-icon>
          <h4>Solar energy</h4>
          <p>Making use of solar power makes the vessel sufficient giving it long voyage capability</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <ion-icon name="map"></ion-icon>
          <h4>MapViz</h4>
          <p>MapViz is a tool used to visualize 2d data. It is ROS-based making it easily integrable into our system</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Want to be a part of us?</h2>
          <p>Read more about what we do and our philosophy of design. Judge for yourself The work and results we’ve achieved for other clients, and meet our highly experienced Team who just love to design.</p>
          <a class="btn btn-default btn-call-to-action" href="https://autosail-mdh.github.io/contact/" >Contact us!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
