<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class="address-block">
          <li>
            <i class="fa fa-map-marker"></i>Mälardalens Univeristy, Västerås, Sweden
          </li>
          <li>
            <i class="fa fa-envelope-o"></i>Email: autosailmdh@gmail.com
          </li>
          <li>
            <i class="fa fa-phone"></i>Phone: +46 (0)21-10 13 00
          </li>
        </ul>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
